header {
    color: rgb(19, 1, 182);
    text-align: center;
    }

body {
        background-color: yellow;
        font: normal 12pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);

}

p {
        color: black;
        font: bold 12pt Arial;
        margin-top: 15px;
}

    input {
        font: normal 12pt Arial;
        margin-top: 5px;
    }

footer {
    color:rgb(19, 1, 182);
    text-align:center;
    font-style:italic;
}